# Python cache and build artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
*.egg-info/
.pytest_cache/

# Virtual environments and local config
.venv
.env

# Secrets and authentication
*secret.json
*token.json

# OS-specific files
.DS_Store
thumbs.db

# Temporary and backup files
raw/
**/raw/
.pxd
.zip
.bak
.m4a

# Quarto files
/.quarto/
**/*.quarto_ipynb
*.m4a
